// variables
$font-family: Tahoma, Verdana, sans-serif;
$background-color: #d3d3d3;
$content-color: rgb(255, 255, 255);
$decorating-color: rgb(212, 116, 78);
$avatar-url: '../img/avatar.jpg';
$header-image-url: '../img/Foggy-Forest.jpg';
//
* {
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: $font-family;
}

body {
    margin: 50px;
    background: $background-color;
    
}

// start resume
.resume {
    width: 1000px;
    box-shadow: 5px 10px 8px #888888;

    // start header
    .header {
        display: flex;
        height: 220px;
        padding: 45px 30px 30px 30px;
        justify-content: space-around;
        background-image: url($header-image-url);
        background-size: 100% 100%;
        background-repeat: no-repeat;

        > div {
            width: 160px;
            height: 160px;
        }
        
        .title {
            color: white;
            font-size: 18px;
            margin-bottom: 20px;
        }
        
        .info {
            text-align: center;
            position: relative;
            top: -10px;

            .avatar {
                width: 120px;
                height: 120px;
                margin-bottom: 10px;
                background-image: url($avatar-url);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                border-radius: 50%;
            }
        } 

        .contact{
            text-align: left;
        }
        
        .follow {
            text-align: center;

            .icons {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;

                .icon {
                    width: 30px;
                    height: 30px;
                    margin: 0px 10px 10px 10px;
                    border: 1px solid white;
                    display: flex;
                    justify-items: center;

                    > i {
                        font-size: 20px;
                    }
                }
            }
        }

        .visit {
            text-align: center;

            .icon {
                width: 60px;
                height: 60px;
                display: flex;
                border-radius: 5px;
                background-color: white;

                > i {
                    font-size: 28px;
                }
            }
        }
    }
    // end header

    // start content
    .content {
        height: 1220px;
        padding: 10px 40px 5px 40px;
        background-color: $content-color;

        .title {
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 1px;
        }

        .main-content {

            .left {
                width: 50%;
                float: left;
    
                .hello {
                    height: 300px;
                    border: 1px solid lightgray;
                    margin: 0px 5px 10px 0px;
                    padding: 20px 30px 30px 30px;
    
                    .big-title {
                        position: relative;
                        top: 0;
                        left: -42px;
                        font-size: 60px;
                        font-weight: 900;
                        color: white;
                        text-shadow: -1px 0px $decorating-color, 0px 1px $decorating-color, 1px 0px $decorating-color, 0px -1px $decorating-color;
                    }
                }
    
                .mySpecialties {
                    height: 310px;
                    border: 1px solid lightgray;
                    margin: 0px 5px 10px 0px;
                    padding: 20px 30px 30px 30px;
    
                    .specialties {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-around;
    
                        .specialty {
                            text-align: center;
    
                            .icon {
                                display: flex;
                                justify-items: center;
                                width: 100px;
                                height: 100px;
                                border: 1px solid $decorating-color;
                                border-radius: 50%;
    
                                > i {
                                    color: $decorating-color;
                                }
                            }
    
                            .break {
                                width: 2px;
                                height: 35px;
                                background-color: $decorating-color;
                                position: relative;
                                top: 0;
                                left: 50px;
                                margin: 10px 0px;
                            }
                        }
                    }
                }
            }
        }

        .right {
            width: 50%;
            float: right;

            .education {
                height: 300px;
                border: 1px solid lightgray;
                border-bottom: 0px;
                margin: 0px 0px 0px 5px;
                padding: 20px 30px 30px 30px;
    
                ul li {
                    margin-bottom: 10px;
    
                    .point {
                        width: 6px;
                        height: 6px;
                        background-color: $decorating-color;
                        border-radius: 50%;
                        position: absolute;
    
                        .break {
                            width: 2px;
                            height: 45px;
                            background-color: lightgray;
                            position: absolute;
                            top: 10px;
                            left: 2px;
                        }
                    }
    
                    .edu-content {
                        text-align: left;
                        position: relative;
                        top: -7px;
                        left: 15px;
                    }
                }
            }
    
            .experiance {
                height: 320px;
                margin: 0px 0px 10px 5px;
                padding: 30px 30px 30px 30px;
                border: 1px solid lightgray;
                border-top: 0px;

    
                ul li {
                    margin-bottom: 10px;
    
                    .edu-content {
                        text-align: left;
                        position: relative;
                        top: -7px;
                        left: 15px;
                    }
                }
            }
        }
    }
    
    .horizontal-break {
        border-top: 1px solid lightgray;
        width: 50%;
        margin-bottom: 40px;
        position: relative;
        top: 15px;
        left: -129px;
    }

    .point {
        width: 6px;
        height: 6px;
        background-color: $decorating-color;
        border-radius: 50%;
        position: absolute;

        .break {
            width: 2px;
            height: 45px;
            background-color: lightgray;
            position: absolute;
            top: 10px;
            left: 2px;
        }
    }
    // end content
    
    // start skills
    .skills {
        width: 100%;
        height: 350px;
        clear: both;
        margin-bottom: 10px;
        border: 1px solid lightgray;
        // position: relative;
        // top: 2px;

        .left {
            width: 50%;
            height: 445px;
            float: left;

            .creative-skills {
                padding: 20px 30px 30px 30px;
    
                .skill-list {
                    display: flex;
    
                    .i-can-do {
                        margin-left: 0px;
                        margin-top: 0px;
                        width: 170px;
                        .title {
                            color: $decorating-color;
                            font-size: 8px;
                            letter-spacing: 3px;
    
                            position: relative;
                            top: 199px;
                            left: 0px;
    
                            transform-origin: 0 0;
                            transform: rotate(270deg);
                        }
    
                        .top-box {
                            width: 20px;
                            height: 15px;
                            border: 1px solid lightgray;
                            border-bottom: 0px;
                            border-right: 0px;
                            position: relative;
                            top: 0px;
                            left: -70px;
                        }
    
                        .bottom-box {
                            width: 20px;
                            height: 15px;
                            border: 1px solid lightgray;
                            border-top: 0px;
                            border-right: 0px;
                            position: relative;
                            top: 187px;
                            left: -70px;
                        }
    
                        ul {
                            width: 130px;
                            height: 235px;
                            margin-left: 35px;
                            position: relative;
                            top: -40px;
                            left: 0px;
    
                            li {
                                margin-bottom: 24px;
                                
                            }
                        }
                    }
    
                    .programing-skills {
                        margin-left: -30px;
                        width: 128px;
    
                        .title {    
                            color: $decorating-color;
                            font-size: 8px;
                            letter-spacing: 3px;
    
                            position: relative;
                            top: 179px;
                            left: 0px;
    
                            transform-origin: 0 0;
                            transform: rotate(270deg);
                        }
    
                        .top-box {
                            width: 20px;
                            height: 30px;
                            border: 1px solid lightgray;
                            border-bottom: 0px;
                            border-right: 0px;
                            position: relative;
                            top: 0px;
                            left: -50px;
                        }
    
                        .bottom-box {
                            width: 20px;
                            height: 30px;
                            border: 1px solid lightgray;
                            border-top: 0px;
                            border-right: 0px;
                            position: relative;
                            top: 155px;
                            left: -50px;
                        }
    
                        ul {
                            margin-left: 35px;
                            position: relative;
                            top: -70px;
                            left: 0px;
    
                            li {
                                margin-bottom: 24px;
                            }
                        }
                    }
                }
            }
        }
        
        .right {
            width: 50%;
            height: 370px;
            float: right;

            .software-skills {
                padding: 20px 30px 30px 35px;
                
                ul {
                    margin-left: -15px;

                    li {
                        display: flex;
                        margin-bottom: 15px;
        
                        .icon {
                            width: 35px;
                            height: 35px;
                            border: 2px solid rgb(73, 73, 73);
                            border-radius: 2px;
                            display: flex;
                            margin-left: 0px;
                            
                            span {
                            font-family: 'Courier New', Courier, monospace;
                            font-weight: 700;
                            }
                        }
        
                        .icon-name {
                            width: 80px;
                            font-weight: 500;
                            text-align: left;
                        }
        
                        .skill-scrore {
                            display: flex;
        
                            .point-score {
                                width: 10px;
                                height: 10px;
                                margin: 6px;
                                background-color: lightsalmon;
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
        }
    }
    // end skills

    // start hobbies and interest
    .hobbies-and-interest {
        clear:both;
        padding: 20px 30px 10px 30px;
        border: 1px solid lightgray;
        position: relative;
        top: -87px;
        margin-top: 10px;

        .title {
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 1px;
        }

        ul {
            margin: 5px -20px 0px -20px;
            display: flex;
            justify-content: space-between;

            li {
                width: 90px;
                height: 90px;
                border: 1px solid $decorating-color;
                border-radius: 50%;
                text-align: center;
                display: flex;
                justify-content: space-between;

                i {
                    color: gray;
                }

                span {
                    font-size: 10px;
                }
            }
        }
        
        .circle-one {
            width: 120px;
            height: 120px;
            border: 1px solid $decorating-color;
            border-radius: 50%;
        }
        
        .circle-two {
            width: 108px;
            height: 108px;
            border: 1px solid $decorating-color;
            border-radius: 50%;
            position: relative;
            top: 6px;
            left: 0px;
        }
        
        .circle-three {
            width: 96px;
            height: 96px;
            border: 1px solid $decorating-color;
            border-radius: 50%;
            position: relative;
            top: 6px;
            left: 0px;
        }
        
        .rec-one {
            width: 80px;
            height: 65px;
            background-color: white;
            position: relative;
            top: -115px;
            left: 30px;
        }
        
        .rec-two {
            width: 50px;
            height: 50px;
            background-color: white;
            position: relative;
            top: -135px;
            left: 30px;
            border-radius: 10px;
        }
        
        .rec-three {
            width: 30px;
            height: 30px;
            background-color: white;
            position: relative;
            top: -150px;
            left: 25px;
            border-radius: 15px;
        }
        
        .r-w-p {
            font-size: 10px;
            position: relative;
            top: -215px;
            left: 40px;
            border-radius: 15px;
            line-height: 1.5;
        }
    }
    // end hobbies and interest
}

.white-txt {
    color: white;
}

.black-txt {
    color: black;
}

.gray-txt {
    color: gray;
}

.small-txt {
    font-size: 12px;
    font-weight: 400;
    
}

.regular-txt {
    font-size: 14px;
    font-weight: 400;
}

.semi-bold-txt {
    font-size: 16px;
    font-weight: 500;
}

.bold-txt {
    font-size: 20px;
    font-weight: 700;
}

.margin-bottom-20 {
    margin-bottom: 20px ;
}

.margin-bottom-10 {
    margin-bottom: 10px ;
}