* {
  margin: auto;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

body {
  margin: 50px;
  background: lightgray;
}

.white-txt {
  color: white;
}

.black-txt {
  color: black;
}

.gray-txt {
  color: gray;
}

.small-txt {
  font-size: 12px;
  font-weight: 400;
}

.regular-txt {
  font-size: 14px;
  font-weight: 400;
}

.semi-bold-txt {
  font-size: 16px;
  font-weight: 500;
}

.bold-txt {
  font-size: 20px;
  font-weight: 700;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.resume {
  width: 1000px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 220px;
  padding: 45px 30px 30px 30px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: url("../img/Foggy-Forest.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.header > div {
  width: 160px;
  height: 160px;
}

.header .title {
  color: white;
  font-size: 13;
  margin-bottom: 20px;
}

.header .info {
  text-align: center;
  position: relative;
  top: -10px;
}

.header .info .img {
  margin-bottom: 5px;
}

.header .info .img img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.header .contact {
  text-align: left;
}

.header .follow {
  text-align: center;
}

.header .follow .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .follow .icons .icon {
  width: 30px;
  height: 30px;
  margin: 0px 10px 10px 10px;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
}

.header .follow .icons .icon > i {
  font-size: 20px;
}

.header .visit {
  text-align: center;
}

.header .visit .icon {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  background-color: white;
}

.header .visit .icon > i {
  font-size: 28px;
}

.content {
  width: 100%;
  height: 1200px;
  padding: 10px 40px 5px 40px;
  background-color: white;
}

.left {
  width: 50%;
  float: left;
}

.left .hello, .mySpecialties {
  border: 1px solid lightgray;
  margin: 0px 5px 10px 0px;
  padding: 20px 30px 30px 30px;
}

.left .hello .big-title {
  position: relative;
  top: 0;
  left: -42px;
  font-size: 60px;
  font-weight: 900;
  color: white;
  text-shadow: -1px 0px brown, 0px 1px brown, 1px 0px brown, 0px -1px brown;
}

.left .mySpecialties .title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}

.horizontal-break {
  border-top: 1px solid lightgray;
  width: 50%;
  margin-bottom: 40px;
  position: relative;
  top: 15px;
  left: -129px;
}

.left .mySpecialties .specialties {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.left .mySpecialties .specialties .specialty {
  text-align: center;
}

.left .mySpecialties .specialties .specialty .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  width: 100px;
  height: 100px;
  border: 2px solid brown;
  border-radius: 50%;
}

.left .mySpecialties .specialties .specialty .icon:before {
  width: 1px;
  height: 10px;
  background-color: brown;
  position: absolute;
}

.left .mySpecialties .specialties .specialty .icon > i {
  color: brown;
}

.left .mySpecialties .specialties .specialty .break {
  width: 2px;
  height: 35px;
  background-color: brown;
  position: relative;
  top: 0;
  left: 50px;
  margin: 10px 0px;
}

.right {
  width: 50%;
  height: auto;
  float: right;
}

.right .education {
  height: 280.8px;
  border: 1px solid lightgray;
  border-bottom: 0px;
  margin: 0px 0px 0px 5px;
  padding: 20px 30px 30px 30px;
}

.right .education .title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}

.right .education ul li {
  margin-bottom: 10px;
}

.right .education ul li .point {
  width: 6px;
  height: 6px;
  background-color: brown;
  border-radius: 50%;
  position: absolute;
}

.right .education ul li .point .break {
  width: 2px;
  height: 45px;
  background-color: lightgray;
  position: absolute;
  top: 10px;
  left: 2px;
}

.right .education ul li .edu-content {
  text-align: left;
  position: relative;
  top: -7px;
  left: 15px;
}

.right .experiance {
  height: 328px;
  border: 1px solid lightgray;
  border-top: 0px;
  margin: 0px 0px 10px 5px;
  padding: 40px 30px 30px 30px;
}

.right .experiance .title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}

.right .experiance ul li {
  margin-bottom: 10px;
}

.right .experiance ul li .point {
  width: 5px;
  height: 5px;
  background-color: brown;
  border-radius: 50%;
  position: absolute;
}

.right .experiance ul li .point .break {
  width: 2px;
  height: 45px;
  background-color: lightgray;
  position: absolute;
  top: 10px;
  left: 2px;
}

.right .experiance ul li .edu-content {
  text-align: left;
  position: relative;
  top: -7px;
  left: 15px;
}

.hobbies-and-interest {
  clear: both;
  padding: 20px 30px 30px 30px;
  border: 1px solid lightgray;
}

.hobbies-and-interest .title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}

.hobbies-and-interest ul {
  margin: 25px -20px 0px -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hobbies-and-interest ul li {
  width: 90px;
  height: 90px;
  border: 1px solid brown;
  border-radius: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hobbies-and-interest ul li i {
  color: gray;
}

.hobbies-and-interest ul li span {
  font-size: 10px;
}

.circle-one {
  width: 120px;
  height: 120px;
  border: 1px solid brown;
  border-radius: 50%;
}

.circle-two {
  width: 108px;
  height: 108px;
  border: 1px solid brown;
  border-radius: 50%;
  position: relative;
  top: 6px;
  left: 0px;
}

.circle-three {
  width: 96px;
  height: 96px;
  border: 1px solid brown;
  border-radius: 50%;
  position: relative;
  top: 6px;
  left: 0px;
}

.rec-one {
  width: 80px;
  height: 65px;
  background-color: white;
  position: relative;
  top: -115px;
  left: 30px;
}

.rec-two {
  width: 50px;
  height: 50px;
  background-color: white;
  position: relative;
  top: -135px;
  left: 30px;
  border-radius: 10px;
}

.rec-three {
  width: 30px;
  height: 30px;
  background-color: white;
  position: relative;
  top: -150px;
  left: 25px;
  border-radius: 15px;
}

.r-w-p {
  font-size: 10px;
  position: relative;
  top: -215px;
  left: 40px;
  border-radius: 15px;
  line-height: 1.5;
}
/*# sourceMappingURL=cv2.css.map */